body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  text-align:center;
  background-color: cornflowerblue;
  border-radius: 15px;
  box-shadow: 2px 2px 2px;
}
.wrapper p {
  line-height: 1.6;
  padding: 40px;
}
.wrapper input, button {
  height: 25px;
  width: 50vw;
  max-width: 480px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.wrapper h2 {
  padding-bottom: 20px;
  font-size: 28px;
}
.wrapper input[type="text"], button, label
{
  font-size:18px;
}
.wrapper button {
  height: 50px;
  background-color: #37AF65;
  color: #F3F3F3;
}
#navbar {
  background-color: cornflowerblue;
  width: 100vw;
  white-space: nowrap;
}
#navbar .navlist {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 5vh;
}
#navbar li{
  list-style-type: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar h1 {
  font-size: 20px;
  margin-left: 4vw;
  margin-right: 4vw;
}
#navbar a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 20px;
}
#navbar .link:hover {
  background-color: white;
}
h2 {
  text-align: center;
}
.content {
  max-width: 720px;
  text-align: left;
}
table {
  table-layout:fixed;
  width: 35vw;
  margin-bottom: 20px;
  border-collapse: collapse;
}
th {
  background-color: #00008B;
  color:white;
}
tr:nth-child(even){
  background-color: #F8F8FF;
}
tr:nth-child(odd){
  background-color: white;
}
th, td {
  text-align: left;
  border: 1px solid black;
  word-wrap: break-word;
  padding: 5px;
}

@media screen and (max-width: 775px) {
  #navbar .navlist {
    display:block;
  }
  #navbar h1 {
    margin: 0;
  }
  #navbar li {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  table {
    overflow-x:visible
  }
}



